<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Libreria LB</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <div class="navbar-container">
        <a href="/"><h1 class="navbar-title">LIBRERIA LB</h1></a>
    </div>
    <div class="content-container">
      <nav class="sidebar-container">
        <ul class="list-container">
          <a href="/socios"><li>Socios</li></a>
          <a href="/libros"><li>Libros</li></a>
          <a href="/prestamos"><li>Prestamos</li></a>
        </ul>
      </nav>
      <div class="data-container">
        <div class="data-box">
            <p>Bienvenido a Libreria LB.</p>
            <p>Seleccione una opción</p>
        </div>
      </div>
    </div>
  </div>

  
  <script src="/js/script.js"></script>
</body>
</html>
